.catalog {
  .maxs{
    img{
      width: 100%;
      object-fit: contain;
    }
    p{
      margin-top: -100px;
    }
  }
  h2{
    margin: 50px 0;
  }
  &-container {
    &__title {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      a {
        font-size: 24px;
        color: var(--pre-color);
        display: flex;
        align-items: baseline;
        transition: all 0.4s ease;
        margin-right: 5px;
        &:hover {
          margin-right: 20px;
          i {
            margin-left: 10px;
            width: 20px;
          }
        }
        i {
          width: 0;
          overflow: hidden;
          margin-left: 5px;
          transition: all 0.4s ease;
        }
      }
    }
    &__wrapper {
      &__title {
        margin-bottom: 40px;
      }
      &__box {
        width: 100%;
        &__subtitle {
          font-weight: 500;
        }
        &__row {
          display: flex;
          flex-wrap: wrap;
          &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 280px;
            img {
              height: 300px;
              padding: 10px;
              transition: all 0.4s ease;
            }
            p {
              text-align: center;
              font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              margin-top: 25px;
              background-color: yellow;
              font-weight: 500;
              transition: all 0.4s ease;
            }
            &:hover {
              img {
                transform: scale(1.2);
              }
              p {
                color: var(--pre-color);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .catalog{
    span{
      font-size: clamp(25px, 4vw, 70px);
    }
    h1{
      font-size: clamp(16px, 4vw, 40px);
    }
    &-container{
      &__wrapper{
        &__box{
          &__row{
            justify-content: center;
            &__item{
              width: 50%;
            }
          }
        }
      }
    }
  }
}