.first {
  margin-bottom: 120px;
  &-container {
    display: flex;
    &__left {
      h1 {
        font-size: 6rem;
        font-weight: 700;

        margin-bottom: 40px;
      }
      p {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        color: #6e6e6e;
        margin-bottom: 60px;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 24px;
        font-size: 24px;
        color: purple;
        gap: 10px;
      }
    }
    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 180px;
        border-bottom-right-radius: 180px;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
      }
    }
  }
}
.second {
  margin-bottom: 120px;
  &-container {
    display: flex;
    justify-content: space-between;
    &__left {
      h1 {
        font-size: 7rem;
        font-weight: 700;
        color: black;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.5rem;
        font-weight: 700;
        color: #6e6e6e;
        margin-bottom: 20px;
      }
      a {
        display: flex;
        align-items: center;
        height: 24px;
        gap: 10px;
      }
    }
    &__right {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 2rem;
        font-weight: 700;
        color: #6e6e6e;
      }
    }
  }
}
.third {
  &-container {
    &__up {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 50px;
      h1 {
        font-size: 10rem;
        font-weight: 700;
        color: var(--main-color);
        margin-bottom: 20px;
      }
      h3 {
        font-size: 3.5rem;
        font-weight: 700;
        color: #6e6e6e;
        margin-bottom: 20px;
      }
    }
    &__down {
      width: 100%;
      .slick-slider{
        margin-bottom: 50px;
        display: flex;
        width: 100%;
        img{
          width: 120px;
        }

      }
    }
  }
}

// @media (max-width: 428px) {
//   .menu-list {
//     // margin-bottom: 80px !important;
//     li {
//       margin: 16px 0 !important;
//       a {
//         padding: 14px 20px;
//       }
//     }
//   }
// }
// @media (max-height: 740px) {
//   .menu-list {
//     margin-bottom: 80px !important;
//   }
//   .information {
//     text-align: center;
//     font-size: 13px;
//     margin: 17px 0;
//   }
// }
// @media (max-height: 820px) {
//   .menu-list {
//     margin-bottom: 140px !important;
//   }
//   .information {
//     text-align: center;
//     font-size: 13px;
//     margin: 17px 0;
//   }
// }
