.header {
    max-width: 400px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-top: 1px solid rgba(128, 128, 128, 0.474);
    padding: 20px 0;
    background-color: white;
    width: 100%;
    .resize{
      font-size: 30px !important;
    }
      .nav-lists {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 10px;
        li {
          .active-icon{
            display: none;
          }
          a {
            width: 100px;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            color: #D1D1D1;
            text-align: center;
            transition: all .8s ease;
            padding: 0 10px;
            .icon {
              color:#D1D1D1 ;
              height: 26px;
              width: 30px;
              font-size: 22px;
            }
            &:hover {
                color: var(--site-color);
                .icon {
                  color: var(--site-color);
                }
            }

          }
          .active{
            color: var(--site-color);
            .unactive-icon{
              display: none;
            }
            .active-icon{
              display: block;
            }
            .icon{
              color: var(--site-color);
            }
          }
        }
    }
    @media(max-height: 740px) {
        li {
          a {
            span{
              position: absolute;
              top: -50px;
              width: 100px;
              background-color: white;
              border-radius: 10px;
              padding: 5px 15px;
              display: none;
              border-top: 1px solid var(--site-color);
              border-left: 1px solid var(--site-color);
              border-right: 1px solid var(--site-color);
            }
            .icon {
                color: var(--site-color);
              &:hover + span{
                display: block;
              }
            }

          }
          .active{
            color: var(--site-color);
            .icon{
              color: var(--site-color);
            }
          }
        }
    }

  @media (max-width: 400px) {
    li {
      a{
        width: 40px !important;
      }
      &:first-child{
        a{
          span{
            left: -10px;
          }
        }
      }
      &:last-child{
        a{
          span{
            right: -10px;
          }
        }
      }
    }
  }
}