* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar { 
  display: none;
}


:root {
  --offset: max(calc(1.25 * 1vw), 15px);
  --offset-xl: calc(var(--offset) * 10);
  --offset-l: calc(var(--offset) * 6);
  --offset-m: calc(var(--offset) * 4);
  --ff: "Nunito", sans-serif;
  --fz: 1vw;
  --fwBold: 700;
  --fwRegular: 400;
  --fwBlack: 900;
  --pre-color: #4E428E;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(../public/images/home_bg.png);
  font-family: "Inter";
  user-select: none;
  min-height: 100vh;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  margin: 0px 0 150px 0;   
  /* site ishlasa ochilish kk */
  flex: 1;
}


.container {
  max-width: 1440px !important;
  padding: 0 20px;
  margin: 0 auto;
}

input,
button {
  border: none;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--site-color);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
